body {
  font-family: Times, Arial;
  line-height: 1.5;
  margin: 0;
  background-color:#50c878
}

header nav {
  background:#bc1849;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 10px;
}

header nav li {
  margin: 20px;
  border: ridge;
  background-color: #50c878;
}

header nav a {
  color:#bc1849;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.5s ease;
  display: block;
  padding: 20px;
}

header nav a:hover {
  color: #ffffff;
}