/*---Global---*/
body {
  font-family: 'Tinos', serif;
  line-height: 1.5;
  margin: 0;
  background-color:#50c878
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.5);
}

header nav li {
  margin: 20px;
  border: ridge;
  background-color: #50c878;
  width: 150px; 
  text-align: center;
}

header nav a {
  font-family: Arial, sans-serif;
  color:#bc1849;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.5s ease;
  display: block;
  padding: 10px;
}

header nav a:hover {
  color: #ffffff;
}

h2, h3 {
  margin-top: 0;
  color: #222;
}

img{
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

section {
  background: rgba(255, 255, 255, 0.5);
  padding: 1rem 1.5rem;
  margin-bottom: 2rem;
  border-left: 0.2rem solid #bc1849;
}

/*----About me----*/
.index-main {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.dog-photo {
  border: 0.5rem solid white;
  transform: rotate(-2deg);
  width: 20rem
}

.index-h1{
  background-color: black;
  color: white
}

.index-list{
  list-style: square;
}

.index-list li::marker{
  color:#bc1849
}

/*----Resume----*/
.resume-main {
  width: 800px;
  margin: 2rem auto;
  background: white;
  padding: 1rem 2rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.resume-h1{
  color: #222
}

.resume-description{
  border: solid;
  text-align: center;
  font-style: italic;
}

.resume-list li::marker{
  content: "- ";
  color:#bc1849;
}

.resume-h2description{
  text-decoration: underline;
}

/*----Recipe----*/
.mapo-bulletpoint li::marker{
  content: "\25C6  ";
  color: #bc1849;
}

iframe {
  width: 100%; 
  height: 500px;
  border: 0;
}

.recipe-main {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.ul-border{
  border-style: groove;
}

li {
  margin-bottom: 0.5rem;
  word-wrap: break-word; 
  overflow-wrap: break-word;
}

