body {
  font-family: Times, Arial;
  line-height: 1;
  margin: 0;
  background-color: #f4f4f4;
}

nav ul {
  list-style: none;
  background: black;
  padding: 0;
  margin: 0;
  display: flex;
}

nav li {
  margin: 0;
}
